@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: black;
}

.text{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    text-align: center;
}
.text h4
{
    position: relative;
    color: #ffeb3b;
    font-weight: 600;
    font-size: 10em;
    -webkit-box-reflect: below -60px linear-gradient(transparent,#0001);
    ;text-shadow: 0 0 10px #ff8c3b;
    text-shadow: 0 0 140px #ff8c3b;
    text-shadow: 0 0 280px #ff8c3b;
    text-shadow: 0 0 160px #ff8c3b;
    text-shadow: 0 0 240px #ff8c3b;

}



.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}






/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
